<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="com.pactera.eclipse.efficient.contribution1">
         <action
               label="Generate &amp;List"
               class="com.pactera.eclipse.efficient.popup.actions.ListUpdateAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.pactera.eclipse.efficient.popup.actions.ListUpdateAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            id="com.pactera.eclipse.efficient.contribution2">
         <action
               label="&amp;Merge List"
               class="com.pactera.eclipse.efficient.popup.actions.MergeListAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.pactera.eclipse.efficient.popup.actions.MergeListAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="com.pactera.eclipse.efficient.contribution3">
         <action
               label="&amp;Make Design"
               class="com.pactera.eclipse.efficient.popup.actions.MakeDesignAction"
               menubarPath="additions"
               enablesFor="1"
               id="com.pactera.eclipse.efficient.popup.actions.MakeDesignAction">
         </action>
         <visibility>
         	<or>
         		<objectState name="name" value="*corporbank.xls" />
         		<objectState name="name" value="*innermanage.xls" />
         		<objectState name="name" value="*perbank.xls" />
         		<objectState name="name" value="*serviceController.xls" />
         	</or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*tables.xls"
            id="com.pactera.eclipse.efficient.contribution4">
         <action
               label="&amp;Make DB"
               class="com.pactera.eclipse.efficient.popup.actions.MakeDBAction"
               menubarPath="additions"
               enablesFor="1"
               id="com.pactera.eclipse.efficient.popup.actions.MakeDBAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
         <page
         	objectClass="org.eclipse.core.resources.IProject"
         	adaptable="true"
         	name="Efficent"
         	class="com.pactera.eclipse.efficient.EfficentPropertyPage"
         	id="com.pactera.eclipse.efficient.EfficentPropertyPage">
         </page>
   </extension>

</plugin>
